<div class="page-container">
    <div class="page animation-fade page-forms">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <form class="form-horizontal fv-form fv-form-bootstrap" action="{{ path('admin_partner_partnertypeset', {'id': partner.partnerId | default(0) }) }}" method="post" id="editPartnerTypeForm">
                            <div class="form-group has-feedback">
                                <label class="col-md-4 control-label">商户类型：</label>
                                <div class="col-sm-12 col-md-8 form-bolck">
                                    <div class="example-wrap">
                                        <div class="radio-custom radio-primary col-md-4 col-sm-12">
                                            <input type="radio" name="partner_type" {% if partner.partnerType == 1 %}checked{% endif %} value="1">
                                            <label for="inputUnchecked">普通</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-md-4 col-sm-12">
                                            <input type="radio" name="partner_type" {% if partner.partnerType == 2 %}checked{% endif %} value="2">
                                            <label for="inputChecked">信用</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-md-4 col-sm-12">
                                            <input type="radio" name="partner_type" {% if partner.partnerType == 3 %}checked{% endif %} value="3">
                                            <label for="inputChecked">自营</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

