<div class="page-container">
    <div class="page animation-fade page-forms">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <form class="form-horizontal fv-form fv-form-bootstrap" action="/order/modify/{{ order.orderId }}.html" method="post" id="changeAddressForm"  onsubmit="fsubmit(this);return false;">
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label">收货人：</label>
                                <div class="col-sm-8 control-text">{{ order.orderAmount }}</div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label">收货电话：</label>
                                <div class="col-sm-8 control-text"></div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label">收货地址：</label>
                                <div class="col-sm-8 control-text">
                                    <div class="col-sm-4">
                                        <select data-plugin="select2" name="provinces" id="oprovinces" class="chosen-select" data-rule-required="true" onchange="getCity(this.value)">
                                            <option value="">--请选择省--</option>
                                            {% for pro in province_lists %}
                                                <option value="{{ pro.city_key }}" {% if userCurrInfo.ur_live_province == pro.city_key %}selected{% endif %}>{{ pro.city_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select data-plugin="select2" name="city" id="ocity" class="chosen-select" data-rule-required="true" onchange="getArea(this.value)">
                                            <option value="">--请选择市--</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select data-plugin="select2" name="area" id="oarea" class="chosen-select" data-rule-required="true">
                                            <option value="">--请选择县--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>