<div class="page-container">
    <div class="page animation-fade page-forms">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body text-center">
                            <h1 class="animation-slide-top" style="padding: 150px 0 50px 0;font-size: 35px;">抱歉，此页面走丢啦！</h1>
                            <button class="btn btn-outline btn-primary btn-round" id="closeTab" onclick="close_tab()" style="margin: 20px 0 150px 0;">关闭当前页</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>