<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
  <link rel="stylesheet" href="/public/index.css" />
</head>
<body>

<div id="root"></div>

<script src="/public/common.js"></script>
<script src="{{ asset('public/index.js') }}"></script>

</body>
</html>
