<div class="page-container">
    <div class="page animation-fade page-forms">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <form class="form-horizontal fv-form fv-form-bootstrap" action="{{ path('admin_shop_searchset', {'id': partner.partnerId | default(0) }) }}" method="post" id="setSearchForm">
                            <div class="form-group has-feedback">
                                <label class="col-sm-4 control-label">商城搜索限制：</label>
                                <div class="col-sm-12 col-md-8 form-bolck">
                                    <div class="example-wrap">
                                        <div class="radio-custom radio-primary col-sm-12">
                                            <input type="radio" name="is_lonely" {% if partner.isLonely == 3  %}checked{% endif %} value="3">
                                            <label for="inputUnchecked">公开搜索</label>
                                        </div>
                                        {#<div class="radio-custom radio-primary col-sm-12">
                                            <input type="radio" name="is_lonely" {% if partner.isLonely == 2 %}checked{% endif %} value="2">
                                            <label for="inputChecked">限制同类</label>
                                            <p>【商家推荐的用户，只能看到未含同类（一级分类）商品的商家及该商家】</p>
                                        </div>#}
                                        <div class="radio-custom radio-primary col-sm-12">
                                            <input type="radio" name="is_lonely" {% if partner.isLonely == 1 %}checked{% endif %} value="1">
                                            <label for="inputChecked">限制全部</label>
                                            <p>【商家推荐的用户，只能看到该商家；并且，非商家推荐用户，均不能看到该商家】</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

