<link href={{ "/public/js/plugins/photo_allery/photoGallery.css"|gfut }} rel="stylesheet">
<div class="box">
	<header drag>
		<div class="winControl" noDrag></div>
	</header>
	<div class="gallery"></div>
</div>
<script src="{{ '/public/js/jquery.min.js'|gfut }}"></script>
<script src="{{ '/public/js/plugins/photo_allery/jquery.photo.gallery.js '|gfut }}"></script>
<script>
$.initGallery();
</script>
