<div class="page-container">
    <div class="page animation-fade page-forms">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                            <form class="form-horizontal fv-form fv-form-bootstrap" action="/goods/edit_brand.html" method="post" id="editBrandForm"  onsubmit="fsubmit(this);return false;">
                                <div class="form-group has-feedback">
                                    <label class="col-sm-3 control-label">品牌名称：</label>
                                    <div class="col-sm-7">
                                        <input name="gb_name" type="text" maxlength="20" value="{{ brand_info.gbName }}" class="form-control" required=""  aria-required="true" placeholder="请输入品牌名称">
                                        <input type="hidden" name="gb_id" value="{{ brand_info.gbId }}"/>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-sm-3 control-label">制造商：</label>
                                    <div class="col-sm-7 form-bolck">
                                        <input name="gb_maker"  maxlength="20" type="text" value="{{ brand_info.gbMaker }}" class="form-control" required=""  aria-required="true" placeholder="请输入制造商">
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-sm-3 control-label">是否启用：</label>
                                    <div class="col-sm-7 form-bolck">
                                        <div class="example-wrap">
                                            <div class="radio-custom radio-primary col-md-6">
                                                <input type="radio" name="gb_status" {% if brand_info.gbStatus==1 %}checked{% endif %} value="1">
                                                <label for="inputUnchecked">启用</label>
                                            </div>
                                            <div class="radio-custom radio-primary col-md-6">
                                                <input type="radio" name="gb_status" {% if brand_info.gbStatus==2 %}checked{% endif %} value="2">
                                                <label for="inputChecked">停用</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

