<div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h2 class="head_title text-center" style="font-size: 25px;font-weight: 500;">开店服务协议</h2>
                    </div>
                    <div class="panel-body"></div>
                </div>
            </div>
        </div>
</div>

