<div class="wrapper wrapper-content fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-content">

                    <form class="form-horizontal m-t" id="commentForm" action="{{ path('admin_admin_modelform') }}" method="post" onsubmit="fsubmit(this);return false;"> 
                            <div class="form-group">
                                <label class="col-sm-3 control-label">模块名称：</label>
                                <div class="col-sm-4">
                                    <input id="m_name" name="m_name" minlength="2" type="text" class="form-control" required="" aria-required="true" value="{{ model.mName }}">
                                    <input id="mid" name="m_id" type="hidden" value="{{ m_id }}">
                                </div>
                            </div>
                            <div class="form-group" id="router_show">
                                <label class="col-sm-3 control-label">模块编码：</label>
                                <div class="col-sm-4">
                                       {% if model.mCode is null %}<font color="red" size="1">注：添加新模块时仅拼写App\AdminBundle\Controller后的类名即可。</font>{% endif %}
                                       <input id="m_code" name="m_code" minlength="10" type="text" class="form-control" required="" aria-required="true" value="{{ model.mCode }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-white" type="reset">重置</button>
                                    <button class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>