<div class="page-container">
    <div class="page animation-fade page-forms">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <form class="form-horizontal fv-form fv-form-bootstrap" action="{{ path('admin_shop_partnerset', {'id': partner.partnerId | default(0) }) }}" method="post" id="editBrandForm">
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label">店铺状态：</label>
                                <div class="col-sm-12 col-md-9 form-bolck">
                                    <div class="example-wrap">
                                        <div class="radio-custom radio-primary col-md-6 col-sm-12">
                                            <input type="radio" name="is_normal" {% if partner.isNormal == 2 %}checked{% endif %} value="2">
                                            <label for="inputUnchecked">正常营业</label>
                                        </div>
                                        <div class="radio-custom radio-primary col-md-6 col-sm-12">
                                            <input type="radio" name="is_normal" {% if partner.isNormal == 1 %}checked{% endif %} value="1">
                                            <label for="inputChecked">暂停营业</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

